@model AlbumDetailsModel
@using MusicApp.Extensions
@inject IAlbumService albums

@{
    ViewBag.Title = "Album Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="Album Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Title</u></p>
            <p>Artist: <b>@Model.Artist</b></p>
            <p>Album info:</p>
            <p>@Model.Description</p>
            <p>Genre: <b>@Model.Genre.Name</b></p>
            <p>Year: <b>@Model.Year</b></p>
            <p>Likes: <b>@Model.Likes</b></p>
            <div class="form-inline">
                @if ((this.User?.Identity?.IsAuthenticated ?? false) && User?.Id() == Model.UserId)
                {
                    <a class="btn btn-warning" asp-controller="Album" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Album" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                }

                @if ((this.User?.Identity?.IsAuthenticated ?? false) && (await albums.IsAlbumAddedByUser(Model.Id, User.Id())) == false && (await albums.IsAlbumLikedByUser(Model.Id, User.Id()) == false))
                {
                    <form class="input-group-sm" asp-controller="Album"
                      asp-action="like" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Like" />
                    </form>
                }
            </div>
            <p></p>
            <partial name="_CommentPartial" model="@Model.Comments"/>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
