@model EditCommentModel
@inject IAlbumService albumService 

@{
    var album = await albumService.GetAlbum(Model.Id);
    var albumTitle = album.Title;
    var artist = album.Artist;
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="mb-5"></div>
            <h5>Album title: @albumTitle</h5>
            <div class="mb-3"></div>
            <h5>Album artist: @artist</h5>
            <div class="mb-3"></div>
            <h5>Comment author: @Model.User.FirstName @Model.User.LastName</h5>
            <div class="mb-3"></div>
            <h5>Comment content:</h5>
            <div class="form-group">
                <textarea asp-for="Content" rows="4" class="form-control" placeholder="This album is..."></textarea>
                <span asp-validation-for="Content" class="small text-danger"></span>
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
