@model CommentModel

<h3>Comments:</h3>

@if (Model.Comments.Any())
{
    @foreach (var comment in Model.Comments)
    {
        <div class="card bg-light col-6">
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>@comment.User.FirstName @comment.User.LastName: @comment.Content</p>
                    <div class="form-inline">
                        <a class="btn btn-warning" asp-area="Admin" asp-controller="Comment" asp-action="Edit"
                   asp-route-id="@comment.Id" asp-route-albumId="@comment.AlbumId">Edit</a>
                        <a class="ml-2 btn btn-danger" asp-area="Admin" asp-controller="Comment" asp-action="Delete"
                   asp-route-id="@comment.Id" asp-route-albumId="@comment.AlbumId">Delete</a>
                    </div>
                </blockquote>
            </div>
        </div>
    }
}
else
{
    <p>No comments yet!</p>
}

<div class="mb-5"></div>

@if (this.User?.Identity?.IsAuthenticated ?? false)
{
    <form asp-area="Admin" asp-controller="Comment" asp-action="Comment" method="post" asp-route-albumId="@Model.AlbumId">
        <div class="form-group card-header row">
            <div class="col-12">
                <h5>Post a new comment</h5>
                <div class="col-8">
                    <label>Comment:</label>
                    <textarea asp-for="@Model.Comment.Content" class="form-control" rows="3"></textarea>
                </div>
                <div class="col-4">
                    <input class="btn btn-primary mt-2 float-lg-right" type="submit" value="Post" />
                </div>
            </div>
        </div>
    </form>
}

