@model IEnumerable<StatisticsAlbumModel>
@using MusicApp.Extensions
@inject IAlbumService albums

@{
    ViewBag.Title = "Top 3";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        @{
            int position = 0;
         }
        @foreach (var album in Model)
        {
            position++;
            <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@album.ImageUrl" alt="Album Image">
            </div>
            <div class="card col-8 border-0">
                <p></p>
                <p style="font-size:25px;"><u>#@position @album.Title</u></p>
                <p>Artist: <b>@album.Artist</b></p>
                <p>Album info:</p>
                <p>@album.Description</p>
                <p>Genre: <b>@album.Genre.Name</b></p>
                <p>Year: <b>@album.Year</b></p>
                <p>Likes: <b>@album.Likes</b></p>
                <div class="card-body text-center">
                    <a asp-controller="Album" asp-action="Details" asp-route-albumId="@album.Id"
                   asp-route-information="@album.GetInformation()" class="btn btn-success">Details</a>
                </div>
            </div>
        }
    </div>
</div>

