@model IEnumerable<AlbumDetailsModel>

@{
    ViewBag.Title = "Administrator area";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container" style="display:inline">
    <div class="row">
        @foreach (var album in Model)
        {
                <div class="col-4">
                <img class="card-img-top" style="width: 20rem;"
                 src="@album.ImageUrl" alt="Album Image">
                </div>
                <div class="card col-8 border-0">
                    <p></p>
                    <p style="font-size:25px;"><u>@album.Title</u></p>
                    <p>Artist: <b>@album.Artist</b></p>
                    <p>Album info:</p>
                    <p>@album.Description</p>
                    <p>Genre: <b>@album.Genre.Name</b></p>
                    <p>Year: <b>@album.Year</b></p>
                    <p>Likes: <b>@album.Likes</b></p>
                    <div class="card-body text-center">
                        <a asp-controller="Album" asp-action="Details" asp-route-albumId="@album.Id"
                           class="btn btn-success">Details</a>
                    </div>
                </div>
        }
    </div>
</div>

