@using MusicApp.Extensions
@model AlbumModel
@inject IAlbumService albums

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Album Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Artist: <b>@Model.Artist</b></h6>
            <h6>Release year: <b>@Model.Year</b></h6>
            <br />
            <a asp-controller="Album" asp-action="Details" asp-route-albumId="@Model.Id"
               asp-route-information="@Model.GetInformation()"
               class="btn btn-success">Details</a>
            @if (this.User?.Identity?.IsAuthenticated ?? false)
            {
                @if (await albums.IsAlbumAddedByUser(Model.Id, User.Id()))
                {
                    <a asp-controller="Album" asp-action="Edit" asp-route-id="@Model.Id"
                      class="btn btn-warning">Edit</a>
                    <a asp-controller="Album" asp-action="Delete" asp-route-id="@Model.Id"
                      class="btn btn-danger">Delete</a>
                }
                <p></p>
                @*@if ((await albums.IsAlbumAddedByUser(Model.Id, User.Id())) == false && (await albums.IsAlbumLikedByUser(Model.Id, User.Id()) == false))
                {
                    <form class="input-group-sm" asp-controller="Album"
                  asp-action="like" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Like" />
                    </form>
                }*@
                @*else if (await houses.IsRentedByUserWithId(Model.Id, User.Id()))
                {
                    <form asp-controller="Houses" asp-action="Leave"
                  asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Leave" />
                    </form>
                }*@
            }
        </div>
    </div>
</div>
